

.navbar {
    background-color: #404040;
    overflow: hidden;
    position: fixed;
    left: 10px; 
    top: 10px;
    bottom: 10px; 
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px; 
    width: 100px;
  
  
  }
  

  .logo {
  
  
    text-align: left;
    width: 100%;
  }
  
  
  #img1{
    height: 50px; 
    width: 50px;
   margin-right: 10px;
   
  
  }
  
 
  .navbar a {
    display:block;
    color: white;
    padding: 10px;
    margin-bottom: 20px; 
    text-decoration: none;
    text-align: center;
  
  }
  

  .navbar a:hover {
    background-color: #555;
    padding: 10px;
    width: 60px;
  
  }
  

  .navbar img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  
  html {
    background-color: rgb(240, 240, 240);
    color:black;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;

  }
  
  #info-content {
    margin-left: 140px; 
 

}
  
h1, h2 {
    text-align: center;
}
p {
    line-height: 1.6;
   
}
.center {
    text-align: center;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.ul{
    text-align: left;
}